* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

/* inspired by FHSU colors */
:root {
    --brand: #69B7FF;
    --brand-light: #A4D3FF;
    --brand-dark: #185E9E;
    --plagiarism: #FF1F00;
    --substitute: #FF9900;
    --wordiness: #EFD24C;
    --success: #FFFFFF;
    --darkest: #000000;
    --lightest: #FFFFFF;
}

/* custom text highlight color */
::selection {
    background: var(--yellow);
}

html, body {
	background: var(--darkest);
}

h1 {
	/*font-family: 'Eczar', serif;*/
	font-family: DIN Alternate, sans-serif;
	font-size: 4.5em;
	color: var(--lightest);
}

h2 {
	font-family: Gill Sans, sans-serif;
	font-size: 2.5em;
	color: var(--brand);
}

h3 {
	font-family: Gill Sans, sans-serif;
	font-size: 2.5em;
	color: var(--lightest);
}

p {
	font-family: Gill Sans, sans-serif;
	font-size: 1.5em;
	line-height: 1.5;
}

.action-button {
	font-family: DIN Alternate, sans-serif;
	font-size: 1.5em;
	color: var(--lightest);
	border: .1em solid var(--brand);
	border-radius: .2em;
	background: none;
	outline: none;
	cursor: pointer;
	padding: .2em .5em;
	-moz-appearance: none;
}

.action-button:hover {
	background: var(--brand-dark);
}

.simple-button {
	font-family: Gill Sans, sans-serif;
	font-size: 1em;
	background: none;
	border: none;
	padding: 0;
	border-radius: 0;
	cursor: pointer;
	color: var(--brand-dark);
	-moz-appearance: none;
}

.simple-button:hover {
	background: none;
}

.right-button-area {
	max-width: 750px;
	margin: 50px auto;
	text-align: right;
}

.right-button-area > .action-button {
	margin-right: 3%;
}

input, textarea {
	caret-color: var(--brand-light);
}

textarea {
	width: 100%;
	max-width: 620px;
	margin: 0 auto;
	display: block;
	padding: 5%;
	font-size: 2em;
	background: var(--darkest);
	color: var(--lightest);
	font-family: Gill Sans, sans-serif;
	border: none;
	outline: none;
	resize: none;
}
